body{
    font-family: "Roboto", sans-serif;
    background-color: #404EED;
}

.user-name{
    font-weight: bold;
}

.topbar{
    height: 89px;
    border-bottom: 1px solid lightgray;
}

.centralizartopo {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin: 0 40px;
}

.topbar .logo {

}

.topbar .search{
    height: 39px;
    width: 250px;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar .search .user{ 

 }

.corpo{
height: 785px;
width: 100%px;
}

/* DIV VAZIA PARA DAR ESPAÇO NO MEU BODY DA ESQUERDA*/
.divazia{    
background-color: green;
width: 10%;
height: 100%;
}

.container{
display: flex;
height: 100%;
width: 100%;
}

.corpo .LEFT{
height: 100%;
width: 50%;
display: flex;
}

.corpo .LEFT .selecao{
height: 100%;
width: 80%;
background-color: white;
}

.corpo .RIGHT{
height: 100%;
width: 50%;
display: flex;
justify-content: center;
align-items: center;
}